[Desktop Entry]
Name=HumanGrok: Galactic Ace
GenericName=HumanGrok
Exec=interstellar-armada %U
Icon=${SNAP}/meta/gui/interstellar-armada.png
Type=Application
StartupNotify=true
StartupWMClass=InterstellarArmada
Categories=Game;
MimeType=x-scheme-handler/my-app;


